target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
src/reports/generated
reports/
src/test/resources/stories/25- Notes/TC-012-VerifyWithdrawManuscript.story
src/test/resources/stories/25- Notes/TC-013-VerifyAddPotentialReviewer-Note-Button.story
