*.png
target/test-classes/stories/Search/TC-031-Search-SearchResultsPage.story
target/test-classes/configs/Variables.properties
target/classes/aspire/com/steps/Steps2.class
*.html
*.stats
/target/
reports/XYZ_Mon,14_Aug_2017_10_49_41/High_Level_Results.txt
reports/XYZ/High_Level_Results.txt
